ngi.weibo.commentlist.txt
ngi.weibo.credential.txt
ngi.weibo.currentuser.txt
ngi.weibo.friendgroups.txt
ngi.weibo.homestatuses.txt
ngi.weibo.mycomments.txt
ngi.weibo.mymetions.txt
ngi.weibo.mystatuses.txt
ngi.weibo.homestatuses_*.txt